<?xml version="1.0"?>
<config>
    <modules>
        <Byjuno_Cdp>
            <version>1.0.0</version>
        </Byjuno_Cdp>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Byjuno_Cdp before="Mage_Adminhtml">Byjuno_Cdp_Adminhtml</Byjuno_Cdp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <byjuno translate="title" module="byjuno">
                <title>Byjuno</title>
                <sort_order>100</sort_order>
                <children>
                    <set_time>
                        <title>Request log</title>
                        <action>adminhtml/byjunolog/log</action>
                    </set_time>
                </children>
            </byjuno>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <byjuno translate="title" module="byjuno">
                            <title>Byjuno</title>
                            <sort_order>0</sort_order>
                            <children>
                                <set_time>
                                    <title>Log</title>
                                    <sort_order>1</sort_order>
                                </set_time>
                            </children>
                        </byjuno>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <byjuno translate="title" module="byjuno">
                                            <title>Byjuno</title>
                                            <sort_order>50</sort_order>
                                        </byjuno>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <Byjuno module="Byjuno_Cdp">
                    <file>byjuno.xml</file>
                </Byjuno>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <cdp>
                <class>Byjuno_Cdp_Model</class>
            </cdp>
            <byjuno>
                <class>Byjuno_Cdp_Model</class>
                <resourceModel>byjuno_mysql4</resourceModel>
            </byjuno>
            <byjuno_mysql4>
                <class>Byjuno_Cdp_Model_Mysql4</class>
                <entities>
                    <byjuno>
                        <table>byjuno</table>
                    </byjuno>
                </entities>
            </byjuno_mysql4>
        </models>
        <helpers>
            <byjuno>
                <class>Byjuno_Cdp_Helper</class>
            </byjuno>
            <byjunocheckout>
                <class>Byjuno_Byjunocheckout_Helper</class>
            </byjunocheckout>
        </helpers>
        <blocks>
            <byjunocheckout>
                <class>Byjuno_Cdp_Model</class>
            </byjunocheckout>
            <byjuno>
                <class>Byjuno_Cdp_Block</class>
            </byjuno>
        </blocks>
        <fieldsets>
            <sales_convert_quote>
                <byjuno_status>
                    <to_order>*</to_order>
                </byjuno_status>
                <byjuno_credit_rating>
                    <to_order>*</to_order>
                </byjuno_credit_rating>
                <byjuno_credit_level>
                    <to_order>*</to_order>
                </byjuno_credit_level>
            </sales_convert_quote>
        </fieldsets>
        <events>
            <payment_method_is_active>
                <observers>
                    <byjuno_before_load_payment_method>
                        <type>singleton</type>
                        <class>byjuno/observer</class>
                        <method>checkandcall</method>
                    </byjuno_before_load_payment_method>
                </observers>
            </payment_method_is_active>
            <sales_order_save_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>byjuno/observer</class>
                        <method>orderStatusChange</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_save_after>
        </events>
        <resources>
            <byjuno_setup>
                <setup>
                    <module>Byjuno_Cdp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </byjuno_setup>
        </resources>
    </global>
    <default>
        <payment>
            <cdp_invoice>
                <model>cdp/standardinvoice</model>
            </cdp_invoice>
            <cdp_installment>
                <model>cdp/standardinstallment</model>
            </cdp_installment>
            <cdp>
                <active>1</active>
                <title_invoice>Byjuno invoice</title_invoice>
                <title_installment>Byjuno installment</title_installment>
                <currentmode>test</currentmode>
                <minamount>10</minamount>
                <maxamount>1000</maxamount>
                <timeout>30</timeout>
                <tmxenabled>disable</tmxenabled>
                <businesstobusiness>disable</businesstobusiness>
                <byjuno_installment_toc_link>http://www.byjuno.ch/</byjuno_installment_toc_link>
                <byjuno_installment_toc_string>Byjuno installment terms &amp; conditions</byjuno_installment_toc_string>
                <byjuno_installment_payment_message>Please select payment plan</byjuno_installment_payment_message>
                <byjuno_fail_message>Byjuno installment failed</byjuno_fail_message>
                <byjuno_invoice_toc_link>http://www.byjuno.ch/</byjuno_invoice_toc_link>
                <byjuno_invoice_toc_string>Byjuno installment terms &amp; conditions</byjuno_invoice_toc_string>
                <byjuno_invoice_payment_message>Please select payment plan</byjuno_invoice_payment_message>
            </cdp>
        </payment>
    </default>
    <frontend>
        <routers>
            <cdp>
                <use>standard</use>
                <args>
                    <module>Byjuno_Cdp</module>
                    <frontName>cdp</frontName>
                </args>
            </cdp>
        </routers>
    </frontend>
</config>
