<?xml version="1.0"?>
<config>
    <modules>
        <Byjuno_Cdp>
            <version>1.6.5</version>
        </Byjuno_Cdp>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Byjuno_Cdp before="Mage_Adminhtml">Byjuno_Cdp_Adminhtml</Byjuno_Cdp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <byjuno translate="title" module="byjuno">
                <title>Byjuno</title>
                <sort_order>100</sort_order>
                <children>
                    <set_time>
                        <title>Request log</title>
                        <action>adminhtml/byjunolog/log</action>
                    </set_time>
                </children>
            </byjuno>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <byjuno translate="title" module="byjuno">
                            <title>Byjuno</title>
                            <sort_order>0</sort_order>
                            <children>
                                <set_time>
                                    <title>Log</title>
                                    <sort_order>1</sort_order>
                                </set_time>
                            </children>
                        </byjuno>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <byjuno translate="title" module="byjuno">
                                            <title>Byjuno</title>
                                            <sort_order>50</sort_order>
                                        </byjuno>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <byjuno_cdp>
                    <file>byjuno_backend.xml</file>
                </byjuno_cdp>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <sales>
            <order>
                <statuses>
                    <byjuno_pending translate="label">
                        <label>Byjuno pending</label>
                    </byjuno_pending>
                </statuses>
                <states>
                    <byjuno_pending translate="label">
                        <label>Byjuno pending</label>
                        <statuses>
                            <byjuno_pending default="1"/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </byjuno_pending>
                </states>
            </order>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <byjuno_status>
                    <to_order>*</to_order>
                </byjuno_status>
                <byjuno_credit_rating>
                    <to_order>*</to_order>
                </byjuno_credit_rating>
                <byjuno_credit_level>
                    <to_order>*</to_order>
                </byjuno_credit_level>
            </sales_convert_quote>
        </fieldsets>
        <models>
            <cdp>
                <class>Byjuno_Cdp_Model</class>
            </cdp>
            <byjuno>
                <class>Byjuno_Cdp_Model</class>
                <resourceModel>byjuno_mysql4</resourceModel>
            </byjuno>
            <byjuno_mysql4>
                <class>Byjuno_Cdp_Model_Mysql4</class>
                <entities>
                    <byjuno>
                        <table>byjuno</table>
                    </byjuno>
                </entities>
            </byjuno_mysql4>
        </models>
        <helpers>
            <byjuno>
                <class>Byjuno_Cdp_Helper</class>
            </byjuno>
            <byjunocheckout>
                <class>Byjuno_Byjunocheckout_Helper</class>
            </byjunocheckout>
        </helpers>
        <blocks>
            <byjunocheckout>
                <class>Byjuno_Cdp_Model</class>
            </byjunocheckout>
            <byjuno>
                <class>Byjuno_Cdp_Block</class>
            </byjuno>
        </blocks>
        <fieldsets>
            <sales_convert_quote>
                <byjuno_status>
                    <to_order>*</to_order>
                </byjuno_status>
                <byjuno_credit_rating>
                    <to_order>*</to_order>
                </byjuno_credit_rating>
                <byjuno_credit_level>
                    <to_order>*</to_order>
                </byjuno_credit_level>
            </sales_convert_quote>
        </fieldsets>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <byjuno_submit_shiping_order_admin>
                        <type>singleton</type>
                        <class>byjuno/observer</class>
                        <method>byjunoProcessShipping</method>
                    </byjuno_submit_shiping_order_admin>
                </observers>
            </sales_order_shipment_save_after>
            <checkout_submit_all_after>
                <observers>
                    <byjuno_submit_order_admin>
                        <type>singleton</type>
                        <class>byjuno/observer</class>
                        <method>saveOrderAdmin</method>
                    </byjuno_submit_order_admin>
                </observers>
            </checkout_submit_all_after>
            <payment_method_is_active>
                <observers>
                    <byjuno_before_load_payment_method>
                        <type>singleton</type>
                        <class>byjuno/observer</class>
                        <method>checkandcall</method>
                    </byjuno_before_load_payment_method>
                </observers>
            </payment_method_is_active>
            <sales_order_save_after>
                <observers>
                    <auto_invoice_order>
                        <type>singleton</type>
                        <class>byjuno/observer</class>
                        <method>orderStatusChange</method>
                    </auto_invoice_order>
                </observers>
            </sales_order_save_after>
        </events>
        <resources>
            <byjuno_setup>
                <setup>
                    <module>Byjuno_Cdp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </byjuno_setup>
        </resources>
    </global>
    <stores>
        <german>
            <payment>
                <cdp>
                    <byjuno_invoice_payments_invoice>Byjuno Rechnung mit Teilzahlungsoption</byjuno_invoice_payments_invoice>
                    <byjuno_invoice_payments_single>Byjuno Einmalrechnung</byjuno_invoice_payments_single>
                    <byjuno_invoice_payments_invoice_url>https://byjuno.ch/de/1b/terms/</byjuno_invoice_payments_invoice_url>
                    <byjuno_invoice_payments_single_url>https://byjuno.ch/de/2b/terms/</byjuno_invoice_payments_single_url>

                    <byjuno_invoice_payments_invoiceb2b>Byjuno Rechnung mit Teilzahlungsoption</byjuno_invoice_payments_invoiceb2b>
                    <byjuno_invoice_payments_singleb2b>Byjuno Einmalrechnung</byjuno_invoice_payments_singleb2b>
                    <byjuno_invoice_payments_invoice_urlb2b>https://byjuno.ch/de/1b/terms/</byjuno_invoice_payments_invoice_urlb2b>
                    <byjuno_invoice_payments_single_urlb2b>https://byjuno.ch/de/2b/terms/</byjuno_invoice_payments_single_urlb2b>

                    <byjuno_installment_payments_3>3 Raten</byjuno_installment_payments_3>
                    <byjuno_installment_payments_10>10 Raten</byjuno_installment_payments_10>
                    <byjuno_installment_payments_12>12 Raten</byjuno_installment_payments_12>
                    <byjuno_installment_payments_24>24 Raten</byjuno_installment_payments_24>
                    <byjuno_installment_payments_4x12>4 Raten innerhalb von 12 Monaten</byjuno_installment_payments_4x12>
                    <byjuno_installment_payments_4x10>N/A</byjuno_installment_payments_4x10>
                    <byjuno_installment_payments_3_url>https://byjuno.ch/de/3a/terms/</byjuno_installment_payments_3_url>
                    <byjuno_installment_payments_10_url>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_10_url>
                    <byjuno_installment_payments_12_url>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_12_url>
                    <byjuno_installment_payments_24_url>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_24_url>
                    <byjuno_installment_payments_4x12_url>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_4x12_url>
                    <byjuno_installment_payments_4x10_url>N/A</byjuno_installment_payments_4x10_url>

                    <byjuno_installment_payments_3b2b>3 Raten</byjuno_installment_payments_3b2b>
                    <byjuno_installment_payments_10b2b>10 Raten</byjuno_installment_payments_10b2b>
                    <byjuno_installment_payments_12b2b>12 Raten</byjuno_installment_payments_12b2b>
                    <byjuno_installment_payments_24b2b>24 Raten</byjuno_installment_payments_24b2b>
                    <byjuno_installment_payments_4x12b2b>4 Raten innerhalb von 12 Monaten</byjuno_installment_payments_4x12b2b>
                    <byjuno_installment_payments_4x10b2b>N/A</byjuno_installment_payments_4x10b2b>
                    <byjuno_installment_payments_3_urlb2b>https://byjuno.ch/de/3a/terms/</byjuno_installment_payments_3_urlb2b>
                    <byjuno_installment_payments_10_urlb2b>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_10_urlb2b>
                    <byjuno_installment_payments_12_urlb2b>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_12_urlb2b>
                    <byjuno_installment_payments_24_urlb2b>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_24_urlb2b>
                    <byjuno_installment_payments_4x12_urlb2b>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_4x12_urlb2b>
                    <byjuno_installment_payments_4x10_urlb2b>N/A</byjuno_installment_payments_4x10_urlb2b>

                    <title_invoice>Byjuno Rechnung</title_invoice>
                    <title_installment>Byjuno Ratenzahlung</title_installment>
                    <byjuno_installment_toc_string>AGB</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen Geschäftsbedingungen</byjuno_installment_payment_message>
                    <byjuno_fail_message>Der Anbieter dieser Zahlungsart hat die gewählte Bezahlmethode abgelehnt. Bitte wählen Sie eine andere Zahlungsart.</byjuno_fail_message>
                    <byjuno_invoice_toc_string>AGB</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen Geschäftsbedingungen</byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Rechnungsversand in Papierform via Post  (gegen Gebühr von CHF 3.50) an</byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_invoice_email_text>
                    <byjuno_installment_postal_text>Rechnungsversand in Papierform via Post (gegen Gebühr von CHF 3.50 pro Rate) an</byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_installment_email_text>
                    <byjuno_s4_fail>Das Senden der Rechnung an Byjuno ist fehlgeschlagen. Die Rechnung wurde nicht generiert. Bitte versuchen Sie es erneut.</byjuno_s4_fail>
                    <byjuno_s5_fail>Das Senden der Bestelländerung an Byjuno ist fehlgeschlagen. Storno/Rückerstattung konnte nicht durchgeführt werden. Bitte versuchen Sie es erneut.</byjuno_s5_fail>
                    <postal_code_wrong>Die PLZ der Rechnungsadresse ist fehlerhaft</postal_code_wrong>
                    <telephone_code_wrong>Die Telefonnummer der Rechnungsadresse ist fehlerhaft</telephone_code_wrong>
                </cdp>
            </payment>
        </german>
        <french>
            <payment>
                <cdp>
                    <byjuno_invoice_payments_invoice>Byjuno Facture avec option de paiement partiel</byjuno_invoice_payments_invoice>
                    <byjuno_invoice_payments_single>Byjuno facture unique</byjuno_invoice_payments_single>
                    <byjuno_invoice_payments_invoice_url>https://byjuno.ch/fr/1b/terms/</byjuno_invoice_payments_invoice_url>
                    <byjuno_invoice_payments_single_url>https://byjuno.ch/fr/2b/terms/</byjuno_invoice_payments_single_url>

                    <byjuno_invoice_payments_invoiceb2b>Byjuno Facture avec option de paiement partiel</byjuno_invoice_payments_invoiceb2b>
                    <byjuno_invoice_payments_singleb2b>Byjuno facture unique</byjuno_invoice_payments_singleb2b>
                    <byjuno_invoice_payments_invoice_urlb2b>https://byjuno.ch/fr/1b/terms/</byjuno_invoice_payments_invoice_urlb2b>
                    <byjuno_invoice_payments_single_urlb2b>https://byjuno.ch/fr/2b/terms/</byjuno_invoice_payments_single_urlb2b>

                    <byjuno_installment_payments_3>3 tranches</byjuno_installment_payments_3>
                    <byjuno_installment_payments_10>10 tranches</byjuno_installment_payments_10>
                    <byjuno_installment_payments_12>12 tranches</byjuno_installment_payments_12>
                    <byjuno_installment_payments_24>24 tranches</byjuno_installment_payments_24>
                    <byjuno_installment_payments_4x12>4 tranches dans 12 mois</byjuno_installment_payments_4x12>
                    <byjuno_installment_payments_4x10>N/A</byjuno_installment_payments_4x10>
                    <byjuno_installment_payments_3_url>https://byjuno.ch/fr/3a/terms/</byjuno_installment_payments_3_url>
                    <byjuno_installment_payments_10_url>https://byjuno.ch/fr/1d/terms/</byjuno_installment_payments_10_url>
                    <byjuno_installment_payments_12_url>https://byjuno.ch/fr/1d/terms/</byjuno_installment_payments_12_url>
                    <byjuno_installment_payments_24_url>https://byjuno.ch/fr/1d/terms/</byjuno_installment_payments_24_url>
                    <byjuno_installment_payments_4x12_url>https://byjuno.ch/fr/1d/terms/</byjuno_installment_payments_4x12_url>
                    <byjuno_installment_payments_4x10_url>N/A</byjuno_installment_payments_4x10_url>

                    <byjuno_installment_payments_3b2b>3 tranches</byjuno_installment_payments_3b2b>
                    <byjuno_installment_payments_10b2b>10 tranches</byjuno_installment_payments_10b2b>
                    <byjuno_installment_payments_12b2b>12 tranches</byjuno_installment_payments_12b2b>
                    <byjuno_installment_payments_24b2b>24 tranches</byjuno_installment_payments_24b2b>
                    <byjuno_installment_payments_4x12b2b>4 tranches dans 12 mois</byjuno_installment_payments_4x12b2b>
                    <byjuno_installment_payments_4x10b2b>N/A</byjuno_installment_payments_4x10b2b>
                    <byjuno_installment_payments_3_urlb2b>https://byjuno.ch/fr/3a/terms/</byjuno_installment_payments_3_urlb2b>
                    <byjuno_installment_payments_10_urlb2b>https://byjuno.ch/fr/1d/terms/</byjuno_installment_payments_10_urlb2b>
                    <byjuno_installment_payments_12_urlb2b>https://byjuno.ch/fr/1d/terms/</byjuno_installment_payments_12_urlb2b>
                    <byjuno_installment_payments_24_urlb2b>https://byjuno.ch/fr/1d/terms/</byjuno_installment_payments_24_urlb2b>
                    <byjuno_installment_payments_4x12_urlb2b>https://byjuno.ch/fr/1d/terms/</byjuno_installment_payments_4x12_urlb2b>
                    <byjuno_installment_payments_4x10_urlb2b>N/A</byjuno_installment_payments_4x10_urlb2b>

                    <title_invoice>Facture Byjuno</title_invoice>
                    <title_installment>Byjuno Paiement échelonné</title_installment>
                    <byjuno_installment_toc_string>CGV</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>Veuillez choisir le type de paiement et accepter les conditions générales</byjuno_installment_payment_message>
                    <byjuno_fail_message>Le prestataire de ce type de paiement a rejeté la méthode de paiement choisie. Veuillez choisir un autre mode de paiement.</byjuno_fail_message>
                    <byjuno_invoice_toc_string>CGV</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Veuillez choisir le type de paiement et accepter les conditions générales</byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Expédition facture sous forme papier (au prix de CHF 3.50) à</byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Expédition facture via e-mail (sans frais) à</byjuno_invoice_email_text>
                    <byjuno_installment_postal_text>Expédition facture sous forme papier (au prix de CHF 3.50 par tranche) à</byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Expédition facture via e-mail (sans frais) à</byjuno_installment_email_text>
                    <byjuno_s4_fail>La transmission de la facture à Byjuno a échoué. La facture n’a pas été produite, veuillez essayer à nouveau.</byjuno_s4_fail>
                    <byjuno_s5_fail>La transmission de la commande modifiée a échoué. L’annulation/le remboursement n’a pas pu être exécuté. Veuillez essayer à nouveau.</byjuno_s5_fail>
                    <postal_code_wrong>Le code postal de l’adresse de facturation est défectueux</postal_code_wrong>
                    <telephone_code_wrong>Le numéro du téléphone de l’adresse de facturation est défectueux</telephone_code_wrong>
                </cdp>
            </payment>
        </french>
        <italian>
            <payment>
                <cdp>
                    <byjuno_invoice_payments_invoice>Byjuno fattura con opzione di pagamento parziale</byjuno_invoice_payments_invoice>
                    <byjuno_invoice_payments_single>Byjuno fattura singola</byjuno_invoice_payments_single>
                    <byjuno_invoice_payments_invoice_url>https://byjuno.ch/it/1b/terms/</byjuno_invoice_payments_invoice_url>
                    <byjuno_invoice_payments_single_url>https://byjuno.ch/it/2b/terms/</byjuno_invoice_payments_single_url>

                    <byjuno_invoice_payments_invoiceb2b>Byjuno fattura con opzione di pagamento parziale</byjuno_invoice_payments_invoiceb2b>
                    <byjuno_invoice_payments_singleb2b>Byjuno fattura singola</byjuno_invoice_payments_singleb2b>
                    <byjuno_invoice_payments_invoice_urlb2b>https://byjuno.ch/it/1b/terms/</byjuno_invoice_payments_invoice_urlb2b>
                    <byjuno_invoice_payments_single_urlb2b>https://byjuno.ch/it/2b/terms/</byjuno_invoice_payments_single_urlb2b>

                    <byjuno_installment_payments_3>3 rate</byjuno_installment_payments_3>
                    <byjuno_installment_payments_10>10 rate</byjuno_installment_payments_10>
                    <byjuno_installment_payments_12>12 rate</byjuno_installment_payments_12>
                    <byjuno_installment_payments_24>24 rate</byjuno_installment_payments_24>
                    <byjuno_installment_payments_4x12>4 rate in 12 mesi</byjuno_installment_payments_4x12>
                    <byjuno_installment_payments_4x10>N/A</byjuno_installment_payments_4x10>
                    <byjuno_installment_payments_3_url>https://byjuno.ch/it/3a/terms/</byjuno_installment_payments_3_url>
                    <byjuno_installment_payments_10_url>https://byjuno.ch/it/1d/terms/</byjuno_installment_payments_10_url>
                    <byjuno_installment_payments_12_url>https://byjuno.ch/it/1d/terms/</byjuno_installment_payments_12_url>
                    <byjuno_installment_payments_24_url>https://byjuno.ch/it/1d/terms/</byjuno_installment_payments_24_url>
                    <byjuno_installment_payments_4x12_url>https://byjuno.ch/it/1d/terms/</byjuno_installment_payments_4x12_url>
                    <byjuno_installment_payments_4x10_url>N/A</byjuno_installment_payments_4x10_url>

                    <byjuno_installment_payments_3b2b>3 rate</byjuno_installment_payments_3b2b>
                    <byjuno_installment_payments_10b2b>10 rate</byjuno_installment_payments_10b2b>
                    <byjuno_installment_payments_12b2b>12 rate</byjuno_installment_payments_12b2b>
                    <byjuno_installment_payments_24b2b>24 rate</byjuno_installment_payments_24b2b>
                    <byjuno_installment_payments_4x12b2b>4 rate in 12 mesi</byjuno_installment_payments_4x12b2b>
                    <byjuno_installment_payments_4x10b2b>N/A</byjuno_installment_payments_4x10b2b>
                    <byjuno_installment_payments_3_urlb2b>https://byjuno.ch/it/3a/terms/</byjuno_installment_payments_3_urlb2b>
                    <byjuno_installment_payments_10_urlb2b>https://byjuno.ch/it/1d/terms/</byjuno_installment_payments_10_urlb2b>
                    <byjuno_installment_payments_12_urlb2b>https://byjuno.ch/it/1d/terms/</byjuno_installment_payments_12_urlb2b>
                    <byjuno_installment_payments_24_urlb2b>https://byjuno.ch/it/1d/terms/</byjuno_installment_payments_24_urlb2b>
                    <byjuno_installment_payments_4x12_urlb2b>https://byjuno.ch/it/1d/terms/</byjuno_installment_payments_4x12_urlb2b>
                    <byjuno_installment_payments_4x10_urlb2b>N/A</byjuno_installment_payments_4x10_urlb2b>


                    <title_invoice>Fattura Byjuno</title_invoice>
                    <title_installment>Byjuno Pagamento rateale</title_installment>
                    <byjuno_installment_toc_string>CGC</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>La preghiamo di scegliere la modalità di pagamento e di accettare le condizioni generali di contratto</byjuno_installment_payment_message>
                    <byjuno_fail_message>L’operatore del servizio di pagamento ha rifiutato la modalità di pagamento da Lei scelta. La preghiamo di scegliere un’altra modalità di pagamento.</byjuno_fail_message>
                    <byjuno_invoice_toc_string>CGC</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>La preghiamo di scegliere la modalità di pagamento e di accettare le condizioni generali di contratto</byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Invio fattura cartacea tramite posta (spese aggiuntive di CHF 3.50) all’indirizzo</byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Invio fattura tramite e-mail (senza spese aggiuntive) all’indirizzo</byjuno_invoice_email_text>
                    <byjuno_installment_postal_text>Invio fattura cartacea tramite posta (spese aggiuntive di CHF 3.50 per ogni rata) all’indirizzo</byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Invio fattura tramite e-mail (senza spese aggiuntive) all’indirizzo</byjuno_installment_email_text>
                    <byjuno_s4_fail>La trasmissione della fattura a Byjuno non é riuscita. La fattura non é stata generata. La preghiamo di riprovare.</byjuno_s4_fail>
                    <byjuno_s5_fail>La trasmissione della modifica dell’ordine non é riuscita. Storno/Rimborso non é stato eseguito. La preghiamo di riprovare.</byjuno_s5_fail>
                    <postal_code_wrong>Il CAP dell’indirizzo di fatturazione è difettoso</postal_code_wrong>
                    <telephone_code_wrong>Il numero di telefono dell’indirizzo di fatturazione è difettoso</telephone_code_wrong>
                </cdp>
            </payment>
        </italian>
        <english>
            <payment>
                <cdp>
                    <byjuno_invoice_payments_invoice>Byjuno Invoice (with partial payment option)</byjuno_invoice_payments_invoice>
                    <byjuno_invoice_payments_single>Byjuno Single Invoice</byjuno_invoice_payments_single>
                    <byjuno_invoice_payments_invoice_url>https://byjuno.ch/de/1b/terms/</byjuno_invoice_payments_invoice_url>
                    <byjuno_invoice_payments_single_url>https://byjuno.ch/de/2b/terms/</byjuno_invoice_payments_single_url>

                    <byjuno_invoice_payments_invoiceb2b>Byjuno Invoice (with partial payment option)</byjuno_invoice_payments_invoiceb2b>
                    <byjuno_invoice_payments_singleb2b>Byjuno Single Invoice</byjuno_invoice_payments_singleb2b>
                    <byjuno_invoice_payments_invoice_urlb2b>https://byjuno.ch/de/1b/terms/</byjuno_invoice_payments_invoice_urlb2b>
                    <byjuno_invoice_payments_single_urlb2b>https://byjuno.ch/de/2b/terms/</byjuno_invoice_payments_single_urlb2b>

                    <byjuno_installment_payments_3>3 Installments</byjuno_installment_payments_3>
                    <byjuno_installment_payments_10>10 Installments</byjuno_installment_payments_10>
                    <byjuno_installment_payments_12>12 Installments</byjuno_installment_payments_12>
                    <byjuno_installment_payments_24>24 Installments</byjuno_installment_payments_24>
                    <byjuno_installment_payments_4x12>4 installments in 12 months</byjuno_installment_payments_4x12>
                    <byjuno_installment_payments_4x10>N/A</byjuno_installment_payments_4x10>
                    <byjuno_installment_payments_3_url>https://byjuno.ch/en/3a/terms/</byjuno_installment_payments_3_url>
                    <byjuno_installment_payments_10_url>https://byjuno.ch/en/1d/terms/</byjuno_installment_payments_10_url>
                    <byjuno_installment_payments_12_url>https://byjuno.ch/en/1d/terms/</byjuno_installment_payments_12_url>
                    <byjuno_installment_payments_24_url>https://byjuno.ch/en/1d/terms/</byjuno_installment_payments_24_url>
                    <byjuno_installment_payments_4x12_url>https://byjuno.ch/en/1d/terms/</byjuno_installment_payments_4x12_url>
                    <byjuno_installment_payments_4x10_url>N/A</byjuno_installment_payments_4x10_url>

                    <byjuno_installment_payments_3b2b>3 Installments</byjuno_installment_payments_3b2b>
                    <byjuno_installment_payments_10b2b>10 Installments</byjuno_installment_payments_10b2b>
                    <byjuno_installment_payments_12b2b>12 Installments</byjuno_installment_payments_12b2b>
                    <byjuno_installment_payments_24b2b>24 Installments</byjuno_installment_payments_24b2b>
                    <byjuno_installment_payments_4x12b2b>4 installments in 12 months</byjuno_installment_payments_4x12b2b>
                    <byjuno_installment_payments_4x10b2b>N/A</byjuno_installment_payments_4x10b2b>
                    <byjuno_installment_payments_3_urlb2b>https://byjuno.ch/en/3a/terms/</byjuno_installment_payments_3_urlb2b>
                    <byjuno_installment_payments_10_urlb2b>https://byjuno.ch/en/1d/terms/</byjuno_installment_payments_10_urlb2b>
                    <byjuno_installment_payments_12_urlb2b>https://byjuno.ch/en/1d/terms/</byjuno_installment_payments_12_urlb2b>
                    <byjuno_installment_payments_24_urlb2b>https://byjuno.ch/en/1d/terms/</byjuno_installment_payments_24_urlb2b>
                    <byjuno_installment_payments_4x12_urlb2b>https://byjuno.ch/en/1d/terms/</byjuno_installment_payments_4x12_urlb2b>
                    <byjuno_installment_payments_4x10_urlb2b>N/A</byjuno_installment_payments_4x10_urlb2b>

                    <title_invoice>Byjuno INVOICE</title_invoice>
                    <title_installment>Byjuno INSTALLMENT</title_installment>
                    <byjuno_installment_toc_string>T&amp;C</byjuno_installment_toc_string>
                    <byjuno_installment_payment_message>Please select payment option and agree to Terms and Conditions</byjuno_installment_payment_message>
                    <byjuno_fail_message>Payment Method Provider have refused selected payment method, please select different payment method.</byjuno_fail_message>
                    <byjuno_invoice_toc_string>T&amp;C</byjuno_invoice_toc_string>
                    <byjuno_invoice_payment_message>Please select payment option and agree to Terms and Conditions</byjuno_invoice_payment_message>
                    <byjuno_invoice_postal_text>Invoice Delivery method by Post (postage fee 3.50 CHF) to</byjuno_invoice_postal_text>
                    <byjuno_invoice_email_text>Invoice Delivery method by E-Mail (no fees) to</byjuno_invoice_email_text>
                    <byjuno_installment_postal_text>Installments Delivery method by Post (postage fee 3.50 CHF for each installment) to</byjuno_installment_postal_text>
                    <byjuno_installment_email_text>Installments Delivery method by E-Mail (no fees) to</byjuno_installment_email_text>
                    <byjuno_s4_fail>The invoice transfer to Byjuno failed; the invoice could not be generated, please retry.</byjuno_s4_fail>
                    <byjuno_s5_fail>The transfer of the updated order to Byjuno failed; Cancel/Refund could not be completed, please retry.</byjuno_s5_fail>
                    <postal_code_wrong>Postal code of billing address is incorrect</postal_code_wrong>
                    <telephone_code_wrong>Telephone of billing address is incorrect</telephone_code_wrong>
                </cdp>
            </payment>
        </english>
    </stores>
    <default>
        <payment>
            <cdp_invoice>
                <model>cdp/standardinvoice</model>
                <order_status>byjuno_pending</order_status>
                <title>Byjuno Invoice</title>
                <active>1</active>
            </cdp_invoice>
            <cdp_installment>
                <model>cdp/standardinstallment</model>
                <order_status>byjuno_pending</order_status>
                <title>Byjuno Installment</title>
                <active>1</active>
            </cdp_installment>
            <cdp>
                <active>0</active>
                <currentmode>test</currentmode>
                <minamount>10</minamount>
                <maxamount>10000</maxamount>
                <timeout>30</timeout>
                <tmxenabled>enable</tmxenabled>
                <tmxkey>lq866c5i</tmxkey>
                <businesstobusiness>disable</businesstobusiness>
                <byjuno_invoice_paper>0</byjuno_invoice_paper>
                <single_query_requests>1</single_query_requests>
                <byjuno_installment_paper>0</byjuno_installment_paper>
                <forsesendendcustomer>0</forsesendendcustomer>
                <keepopenorder>0</keepopenorder>
                <country_phone_validation>1</country_phone_validation>
                <s2_acceptance>standard</s2_acceptance>
                <byjuno_risk>2</byjuno_risk>
                <success_order_status>processing</success_order_status>

                <byjuno_invoice_payments>invoice_byjuno_enable</byjuno_invoice_payments>
                <byjuno_invoice_paymentsb2b>invoice_byjuno_enable</byjuno_invoice_paymentsb2b>

                <byjuno_invoice_payments_invoice>Byjuno Rechnung mit Teilzahlungsoption</byjuno_invoice_payments_invoice>
                <byjuno_invoice_payments_single>Byjuno Einmalrechnung</byjuno_invoice_payments_single>
                <byjuno_invoice_payments_invoice_url>https://byjuno.ch/de/1b/terms/</byjuno_invoice_payments_invoice_url>
                <byjuno_invoice_payments_single_url>https://byjuno.ch/de/2b/terms/</byjuno_invoice_payments_single_url>

                <byjuno_invoice_payments_invoiceb2b>Byjuno Rechnung mit Teilzahlungsoption</byjuno_invoice_payments_invoiceb2b>
                <byjuno_invoice_payments_singleb2b>Byjuno Einmalrechnung</byjuno_invoice_payments_singleb2b>
                <byjuno_invoice_payments_invoice_urlb2b>https://byjuno.ch/de/1b/terms/</byjuno_invoice_payments_invoice_urlb2b>
                <byjuno_invoice_payments_single_urlb2b>https://byjuno.ch/de/2b/terms/</byjuno_invoice_payments_single_urlb2b>

                <byjuno_installment_payments />
                <byjuno_installment_paymentsb2b />

                <byjuno_installment_payments_3>3 Raten</byjuno_installment_payments_3>
                <byjuno_installment_payments_10>10 Raten</byjuno_installment_payments_10>
                <byjuno_installment_payments_12>12 Raten</byjuno_installment_payments_12>
                <byjuno_installment_payments_24>24 Raten</byjuno_installment_payments_24>
                <byjuno_installment_payments_4x12>4 Raten innerhalb von 12 Monaten</byjuno_installment_payments_4x12>
                <byjuno_installment_payments_4x10>N/A</byjuno_installment_payments_4x10>
                <byjuno_installment_payments_3_url>https://byjuno.ch/de/3a/terms/</byjuno_installment_payments_3_url>
                <byjuno_installment_payments_10_url>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_10_url>
                <byjuno_installment_payments_12_url>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_12_url>
                <byjuno_installment_payments_24_url>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_24_url>
                <byjuno_installment_payments_4x12_url>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_4x12_url>
                <byjuno_installment_payments_4x10_url>N/A</byjuno_installment_payments_4x10_url>

                <byjuno_installment_payments_3b2b>3 Raten</byjuno_installment_payments_3b2b>
                <byjuno_installment_payments_10b2b>10 Raten</byjuno_installment_payments_10b2b>
                <byjuno_installment_payments_12b2b>12 Raten</byjuno_installment_payments_12b2b>
                <byjuno_installment_payments_24b2b>24 Raten</byjuno_installment_payments_24b2b>
                <byjuno_installment_payments_4x12b2b>4 Raten innerhalb von 12 Monaten</byjuno_installment_payments_4x12b2b>
                <byjuno_installment_payments_4x10b2b>N/A</byjuno_installment_payments_4x10b2b>
                <byjuno_installment_payments_3_urlb2b>https://byjuno.ch/de/3a/terms/</byjuno_installment_payments_3_urlb2b>
                <byjuno_installment_payments_10_urlb2b>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_10_urlb2b>
                <byjuno_installment_payments_12_urlb2b>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_12_urlb2b>
                <byjuno_installment_payments_24_urlb2b>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_24_urlb2b>
                <byjuno_installment_payments_4x12_urlb2b>https://byjuno.ch/de/1d/terms/</byjuno_installment_payments_4x12_urlb2b>
                <byjuno_installment_payments_4x10_urlb2b>N/A</byjuno_installment_payments_4x10_urlb2b>

                <title_invoice>Byjuno Rechnung</title_invoice>
                <title_installment>Byjuno Ratenzahlung</title_installment>
                <byjuno_installment_toc_string>AGB</byjuno_installment_toc_string>
                <byjuno_installment_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen Geschäftsbedingungen</byjuno_installment_payment_message>
                <byjuno_fail_message>Der Anbieter dieser Zahlungsart hat die gewählte Bezahlmethode abgelehnt. Bitte wählen Sie eine andere Zahlungsart.</byjuno_fail_message>
                <byjuno_invoice_toc_string>AGB</byjuno_invoice_toc_string>
                <byjuno_invoice_payment_message>Bitte wählen Sie die Zahlungsart und akzeptieren Sie die Allgemeinen Geschäftsbedingungen</byjuno_invoice_payment_message>
                <byjuno_invoice_postal_text>Rechnungsversand in Papierform via Post  (gegen Gebühr von CHF 3.50) an</byjuno_invoice_postal_text>
                <byjuno_invoice_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_invoice_email_text>
                <byjuno_installment_postal_text>Rechnungsversand in Papierform via Post (gegen Gebühr von CHF 3.50 pro Rate) an</byjuno_installment_postal_text>
                <byjuno_installment_email_text>Rechnungsversand via E-Mail (ohne Gebühr) an</byjuno_installment_email_text>
                <byjuno_s4_fail>Das Senden der Rechnung an Byjuno ist fehlgeschlagen. Die Rechnung wurde nicht generiert. Bitte versuchen Sie es erneut.</byjuno_s4_fail>
                <byjuno_s5_fail>Das Senden der Bestelländerung an Byjuno ist fehlgeschlagen. Storno/Rückerstattung konnte nicht durchgeführt werden. Bitte versuchen Sie es erneut.</byjuno_s5_fail>
				<postal_code_wrong>Die PLZ der Rechnungsadresse ist fehlerhaft</postal_code_wrong>
				<telephone_code_wrong>Die Telefonnummer der Rechnungsadresse ist fehlerhaft</telephone_code_wrong>
                <byjuno_prod_email>invoices@byjuno.ch</byjuno_prod_email>
                <byjuno_test_email>test-invoices@byjuno.ch</byjuno_test_email>
                <byjunos4transactonactivationplace>invoice</byjunos4transactonactivationplace>
                <cdpplaces>checkout,onepage,saveShippingMethod
onestepcheckout,index,saveShippingMethod
onestepcheckout,onepage,saveShippingMethod
PostFinanceCw,onepage,saveShippingMethod
PostFinanceCw,process,saveShippingMethod
SaferpayCw,onepage,saveShippingMethod
SaferpayCw,process,saveShippingMethod
DatatransCw,onepage,saveShippingMethod
DatatransCw,process,saveShippingMethod
amscheckoutfront,onepage,saveShippingMethod</cdpplaces>
            </cdp>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <byjuno_cdp>
                    <file>byjuno_frontend.xml</file> <!-- Our layout file name-->
                </byjuno_cdp>
            </updates>
        </layout>
        <routers>
            <cdp>
                <use>standard</use>
                <args>
                    <module>Byjuno_Cdp</module>
                    <frontName>cdp</frontName>
                </args>
            </cdp>
        </routers>
    </frontend>
</config>
